.happy
{
    background-image: linear-gradient(90deg, tomato, orange, tomato);
    display: inline;
    margin: 25px 10px;
    padding: 4px;
    position: relative;
    top: 25px;
}
.indep
{
    background-image: linear-gradient(90deg, white, lightblue, white);
    display: inline;
    margin: 25px 10px;
    padding: 4px; 
    position: relative;
    top: 25px;
}
.day
{
    background-image: linear-gradient(90deg, green, lightgreen, green);
    display: inline;
    margin: 25px 10px;
    padding: 4px;
    position: relative;
    top: 25px;
}
.sun
{
    position:absolute; 
    top:100px;
    animation: sun 20s infinite;
}
@keyframes sun
{
    from
    {
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}
.body
{
    width: 96vw;
    height: 98vh;
    border-top-right-radius: 10px;
    border-top: 10px solid white;
    border-top-left-radius: 10px;
    background-image: url(./clouds.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-right: 10px solid green;
    border-left: 10px solid orangered;
    border-bottom: 10px solid lightblue;
    
}

.building
{
    background-image: url(./clouds.webp); 
    opacity: 25%;
}
.car_body
{
    bottom: 1px;
    position: relative;
    z-index: 2;
}
@keyframes carbody
{
    from
    {
        transform: translateX(0px);
    }
    to
    {
        transform: translateX(1000px);
    }
}
.car
{
    position: relative;
    left: 70px;
    height: 100px;
    width: 90vw;
    top:-280px;
    display: inline-block;
    animation: carbody 7s infinite;
}
.road
{
    position: relative;
    opacity: 5px;
    top: -100px;
    width: 96vw;
    left: 15px;
    animation: road 3s infinite alternate-reverse;
}
@keyframes road
{
    from
    {
        left: 12px;
    }
    to
    {
        right: 12px;
    }
}
.wheelleft, .wheelright
{
    width: 46px;
    position: absolute;
    left: 20px;
    top: 50px;
    animation: wheels 60ms infinite;
}
.wheelright
{
    left: 174px;
}
@keyframes wheels
{
    from
    {
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}